# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
/android/app/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
*.apk
*.aab

# iOS
/ios/build/
/ios/Pods/
/ios/Runner.xcworkspace
/ios/Podfile.lock
/ios/.symlinks/

# IDEs
.idea/
*.iml
*.project
.vscode/
